.initially-hidden {
    display: none;
}

.strikethrough {
    text-decoration: line-through;
}
.assignment-class-btn-div {
    float: right;
}

.assignment-class-btns {
    background-color: Transparent;
    /*background-repeat:no-repeat;*/
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}