.initially-hidden {
    display: none;
}

.strikethrough {
    text-decoration: line-through !important;
    color:green;
}
.assignment-class-btn-div {
    float: right;
}

.assignment-btn-div {
    float: left;
}

.assignment-class-btns {
	background-color: Transparent;
	border: none;
	cursor: pointer;
	overflow: hidden;
 	outline: none;
}

#add-assignment * {
  display: inline;
  margin: auto;
  padding: 10px;
}

#add-assignment p {
	float: left;
	width: 100px;
	text-align: right;
}

#add-assignment input, #add-assignment textarea, #add-assignment select {
	width: auto;
	flex: 1;
	overflow: hidden;
	width: 100%;
}

#add-assignment div {
	display: flex;
	width: 90%;
	overflow: hidden;
}

.w3-opacity {
	text-align: center;
}

.welcome {
	text-align: center;
}

.footer {
	position: fixed;
    left: 0;
    bottom: 0;
    /*height: 100px;*/
    width: 100%;
}

#div-that-needs-lower-margin {
    margin-bottom: 100px;
}

.ass-aName {
	float:left;
}

.ass-course {
	float:left;
}

.ass-aType {
	float:right;
}

.ass-dueDate {
	float:right;
}

.ass-dueTime {
	float:right;
}

.ass-desc {
    float:left;
}

.assignment-individual-div {
    width: 100%;
}

.ass-format {
	float:left;
	width: 100%;
}

.assignment-item {
    border-bottom: 1px solid black;
}


@media (max-width: 602px){
    .footer { 
        display : none; 
        visibility : hidden; 
    }
